In [6]:
import numpy as np
import pandas as pd

In [7]:
pizzas = pd.read_fwf("d_many_pizzas.in")

In [8]:
pizzas.head(10)

,100000 1696 3661 2742,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1 n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3 e g wb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9 bc lc kc ld ib gb hc vc vd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3 cc c g,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2 u dc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3 lb ib ic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,3 od kd fc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4 hb tb db dc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2 zb gd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1 fd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN